/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/* HEADER spul */
header {
    background-color: #c20030;
}

header nav {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin-top: -4.3em;
}

@media only screen and (max-width: 600px) {
    header nav {
        text-align: center;
        display: flex;
        flex: wrap;
        justify-content: center;
        margin-top: 1em;
    }
}

/* Ajax logo */
header img:first-of-type {
    list-style: none;
    display: flex;
    max-height: 4em;
    margin-left: 2em;
    justify-content: flex-start;
}

/* Ajax logo kleiner bij kleiner scherm */
@media only screen and (max-width: 600px) {
    header img:first-of-type {
        list-style: none;
        display: flex;
        max-height: 3em;
        margin-left: 1em;
        justify-content: flex-start;
    }
}

/*h Hamburger menu onzichtbaar */
header a:nth-of-type(2) {
    display: none;
}

/* Hamburger menu bij klein scherm niet onzichtbaar */
@media only screen and (max-width: 600px) {
    header a:nth-of-type(2) {
        display: flex;
        justify-content: flex-end;
        height: 1.5em;
        margin-top: -2.2em;
    }
}

/* Menuitems standaard verborgen op klein scherm */
@media only screen and (max-width: 600px) {
    .menuitems {
        display: none;
    }
}



header nav ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

header nav li {
    flex-grow: 1;
    max-width: 6em;
    margin-right: 3em;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    header nav li {
        flex-grow: 1;
        margin-right: 5em;
        margin-left: 5em;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}


header nav a {
    color: white;
    text-decoration: none;
    outline: none;

    line-height: 5em;
    text-align: center;
}

main {
    margin: 1em 5em 1em 5em;
}

@media only screen and (max-width: 600px) {
    main {
        margin: 1em 1em 1em 1em;
    }
}



/* Grid voor eerste drie artikelen */
.eersteartikelen {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    grid-auto-flow: dense;
}

@media only screen and (max-width: 600px) {
    .eersteartikelen {
        display: block;

    }
}

.eersteartikelen img {
    grid-column: 2;
}

.eersteartikelen img:first-of-type {
    grid-column: 1;
    grid-row: 1/4;
    width: 60vw;
}

@media only screen and (max-width: 600px) {
    .eersteartikelen img:first-of-type {
        width: 90vw;
    }
}

.eersteartikelen img:nth-of-type(2),
.eersteartikelen img:nth-of-type(3) {
    width: 30vw;
}

@media only screen and (max-width: 600px) {

    .eersteartikelen img:nth-of-type(2),
    .eersteartikelen img:nth-of-type(3) {
        width: 90vw;
    }
}








/* Grid overige nieuwsartikelen */
.nieuwsartikelen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

/* Artikelen onder elkaar bij kleiner scherm */
@media only screen and (max-width: 600px) {
    .nieuwsartikelen {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
}

.overignieuws article img {
    width: 29.5vw;
}

@media only screen and (max-width: 600px) {
    .overignieuws article img {
        width: 90vw;
    }
}

.nieuwsartikelen a {
    color: black;
    text-decoration: none;
}


.nieuwsartikelen h3:hover {
    color: grey;
}

.nieuwsartikelen p:hover {
    color: grey;
}

@media only screen and (max-width: 600px) {
    .nieuwsartikelen p {
        display: none;
    }
}



/* Footer */
footer {
    margin-top: 10vh;
    margin: 1em 5em 1em 5em;
}

footer img:first-of-type {
max-width: 90vw;
}

@media only screen and (max-width: 600px) {
    footer {
    margin-top: 10vh;
        margin: 1em 1em 1em 1em;
}
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: grey;
}

footer p {
    margin: 0;
    font-weight: bolder;
}

.social li + li {
    float: left;
    margin-right: 1em;
}

.social a:hover {
    opacity: 50%;
}

.partners p {
    margin-top: 3em;
}

.partners li + li {
    float: left;
    margin-right: 1em;
}

.partners2 {
    margin-top: 1.8em;
}

.partners2 li {
    float: left;
    margin: 1em 1em 0 0;
}

.partners a:hover {
    opacity: 50%;
}
